# Don't include source files
src/
test/
.vscode/
.idea/
coverage/
types/

# Build tools & config files
tsconfig.json
jest.config.ts
tsup.config.ts
vitest.config.ts
*.test.ts
*.spec.ts

# Local dev only
.env
*.log

# Ignore CLI dev script if not needed
bin/dev.js


.gitignore
.npmignore
.gitattributes

